@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600');

*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif!important;
}

body, html{
	height: 100%;
	background: #282a36;
}

/* section */
section#tchat{ display: none }

section#login{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

section#login input#input-login{
	background: #44475a;
	border: 0;
	padding: 10px;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	outline: none;
	width: 20em;
	display: block;
}

section#login input#btn-login{
	background: #bd93f9;
	border: 0;
	padding: 10px;
	cursor: pointer;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	outline: none;
	width: 100%;
	display: block;
}

section#tchat .form{
	position: fixed;
	bottom: 0;
	width: 100%;
}

section#tchat .form #input-msg{
	background: #44475a;
	width: 100%;
	border: 0;
	padding: 8px;
	font-size: 14px;
	font-weight: 400;
	outline: none;
	color: #fff;
}

section#tchat .form #btn-msg{
	background: #bd93f9;
	border: 0;
	padding: 7.4px;
	cursor: pointer;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	outline: none;
	position: absolute;
	bottom: 0;
	right: 0;
}

#messages li{
	padding: 10px;
	color: #7c82a7;
	word-wrap: break-word;
}
#messages span{
	color: #ff79c6;
}